@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
}

.hero {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #000;
    display: grid;
    place-items: center;
}

.card-container {
    width: 500px;
    height: 300px;
    color: #fff;
    cursor: pointer;
    perspective: 1000px;
}

.card-box {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s ease;
}

.card-front,
.card-back {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #0045c7, #ff2c75);
    border-radius: 15px;
    padding: 20px 30px;
    overflow: hidden;
    z-index: 1;
}

.map-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -1;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chip-img {
    width: 60px;
    height: auto;
}

.visa-img {
    width: 80px;
    height: auto;
}

.card-number {
    margin-top: 60px;
}

.card-number p {
    font-size: 35px;
    font-weight: 400;
}

.card-holder {
    margin-top: 40px;
}

.card-holder p {
    font-size: 12px;
    font-size: 400;
    text-transform: uppercase;
}

.card-name {
    margin-top: 20px;
}

.card-name p {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}

.card-bar {
    height: 60px;
    background-color: #222;
    margin: 5px -30px 0 -30px;
}

.card-hidden {
    margin-top: 20px;
}

.card-hidden div {
    flex: 1;
}

.card-hidden div img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-hidden p {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    font-size: 22px;
    font-weight: 400;
}

.card-text {
    margin-top: 20px;
}

.card-text p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
}

.card-signature {
    margin-top: 20px;
}

.card-signature p {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.card-back {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.card-container:hover .card-box {
    transform: rotateY(-180deg);
}